.quienes-somos-content {
    
    padding: 3%;

    .content {
        color: white;
        .main-title {
            padding: 1.9% 1.4%;
            margin: 0;
            // font-size: 250%;
            font: 300% Oswald;
            text-transform: uppercase;
            
        }
        .m-border {
            margin: 2% 3% 0 3%;
        }
        &.row-1 {
            
            .who-we-are {
                & > * {
                    margin: 0;
                }
                p {
                    text-align: center;
                    font-size: 1.2em;
                    margin-bottom: 10px;
                }
            }
        }

        &.row-2 {
            color:black !important;
            border-radius: 8px;
            margin: 60px;
            margin-bottom: 0;
            background-color: white;
            .registration {
                & > * {
                    margin: 5%;
                }
            }
        }
    }
}

#input-name, #input-email {
    margin: 5% 0;
    font-family: Oswald;
    font-size: 1.5rem;
}
#input-email{
    margin-bottom: 35px;
}
#message-box {
    display: none;
    margin: 5% 0;

    &.show-me {
        display: block;
    }
}

#btn-registration{
    margin: 0% 3% 3% 3%;
    width: 30%;
    height: 60px;
    font-size: 1.9em;
    font-family: Oswald;
    &:target {
        #message-box {
            display: inline;
        }
    }
}