.quienes-somos-content {
    padding: 3%;

    .content {
        .main-title {
            padding: 1.9% 1.4%;
            margin: 0;
            // font-size: 250%;
            font: 250% 'Stint Ultra Condensed';
            text-transform: uppercase;
        }
        .m-border {
            margin: 2% 3%;
        }
        &.row-1 {
            .who-we-are {
                & > * {
                    margin: 0;
                }
                p {
                    text-align: center;
                    font: inherit;
                    font-family: cursive;
                    font-size: 1.1em;
                    margin-bottom: 10px;
                }
            }
        }

        &.row-2 {
            margin: 60px;
            .registration {
                & > * {
                    margin: 5%;
                }
            }
        }
    }
}