.band {
    padding: 2% 5%;

    & > h1, h2, h3, h4 {
        font-weight: 400;
        
        // @media (max-height: 675px) {
        //     font-size: 4vw;
        // }
        & > strong{
        font-size: 30px;
    }
    }
    
}

.text-content {
    .title {
        margin: 0 4%;
        font-size: 2.8em;
        text-align: left;
        padding-left: 2%;
        // font-family: Roboto;
    }

    .list {
        margin: 4px 0 1% 4%;
        display: block;
        padding: 2px 2%;
        text-align: left;
        .item {
            margin: 2px 0;
            & > .icon {
                color: greenyellow;
                margin-right: 4px;
                width: 30px;
                height: 30px;
            }

            & > label {
                margin-right: 6px;
                margin-bottom: 0;
                font-size: 1.2em;
            }
        }
    }
}

.inicio-page-content {
    // background-color: hsla(192,192,192,0.3);
    display: flex;
    padding: 3%;
    .carousel.slide {
        height: 60vh;
        // max-height: 45vh;
    }

    .gallery-container {
        width: 50%;
        
    }

    .summary-content {
        width: 50%;
        // max-height: 45vh;
    }

    @media (max-width: 686px) {
        display: block;
        padding-left: 0;
        padding-right: 0;
        // padding-bottom: 40px;

        .gallery-container, .summary-content {
            width: 100%;
        }

        .summary-content {
            margin-top: 2%;
        }
    }

    @media (max-height: 590px) {
        display: inline-block;
    }
}

.carousel-item > img {
    width: auto !important;
    height: 45vh !important;
}