.inicio-content {
    scroll-behavior: smooth;
    position: relative;
    .content {
        
        .main-name {
            padding: 1.9% 1.4%;
            margin: 0;
            // font-size: 7.5vw;
            font-size: 530%;
            font-family: Oswald;
        }
        .sub-content {
            // height: 100vh;
            &:first-child::before {
                height: var(--nav-height);
                width: 100%;
                display: inline-block ;
                content: '';
            }

            &:first-child {
                background-color: hsla(192,192,192,0.6);
            }

            &:nth-child(2) {
                background-color: #6DB7E8;
            }

            &:nth-child(3) {
                background-color: beige;
            }
        }
    }
}

